<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:grid="SchmidtWebmedia\GridForContainer\ViewHelpers" data-namespace-typo3-fluid="true">
<f:section name="Column">
	<f:if condition="{children}">
		<div class="{grid:grid(type: 'col', grid_config: '{data.grid_config}', layout:'{data.CType}', colIndex:'{colIndex}')} grid-col">
			<f:for each="{children}" as="element">
				{element.renderedContent -> f:format.raw()}
			</f:for>
		</div>
	</f:if>
</f:section>
<f:section name="Row">
	<div class="grid-container ge-container">
		<div class="{grid:grid(type: 'row')} grid-row">
			<f:render partial="Default" section="Column" arguments="{data: data, colIndex:'0', children: children_201}"/>
			<f:render partial="Default" section="Column" arguments="{data: data, colIndex:'1', children: children_202}"/>
			<f:render partial="Default" section="Column" arguments="{data: data, colIndex:'2', children: children_203}"/>
			<f:render partial="Default" section="Column" arguments="{data: data, colIndex:'3', children: children_204}"/>

		</div>
	</div>
</f:section>
</html>
